<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Login Sucessfull!! Welcome to admin page </h1>
    <%messages.forEach(function(message){ %>
    <div style="margin: 10px; border: 2px solid black;" >
       <h6 name="name">Name:<%=message.fullname%></h6>
       <h6 name="email">Email:<%=message.email%></h6>
       <h6 name="phone">Phone NO:<%=message.phone%></h6>
       <h6 name="msg">Message:<%=message.message%></h6>
    </div>
    <% })%>
 
</body>
</html>